
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Albert Hamood, Capstone Project, Data Incubator Winter 2016</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <style>
    p { padding-left: 2% }
    h3 { padding-left: 1% }
    h4 { padding-left: 1% }
  </style>  
</head>
<img src="/static/bikes.jpg" alt="Bikes" style="width:400px;height200px">
<div class=page>
  <h3>New York bike share redistribution engine:</h3>
  <h4>Capstone Project for Data Incubator Fellowship. </h4>
  <h4>Created by Albert W. Hamood, January - February 2016</h4>
  <p>
  This app uses a predictive model of user behavior in the Citibike bike-sharing system to
  recommend an efficient redistribution of bikes among stations that meets user demand. It 
  was created from an analysis of 22+ million rides using Citibike's publicly available
  dataset.
  </p>
  <p>
  The primary functionality, displayed geographically, is available at the first link below.
  </p>
  <p> 
  Below this are further links, containing more detailed information about the project including: 
  the form of the model, and how I chose and cross validated it; the algorithm behind the 
  recommendation of a redistribution strategy; and the motivation for the project, supported
  by some analysis. You can also check the performance of the model against observed data
  for any past date in the dataset I collected.
  </p>
  <h4>Primary functionality here:</h4>
  <p>
  <a href="{{ url_for('choose_predictions') }}">Live predictions and redistribution recommendations</a>
  </p>
  <h4>Other options:</h4>
  <p>
  <a href="{{ url_for('model_test') }}">Test model predictions for a past date</a> </p><p>
  <a href="{{ url_for('analysis') }}">Motivation and analysis</a> </p><p>
  <a href="{{ url_for('model_details') }}">How does this work? Model details</a>
  </p>
</div>