
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Albert Hamood, Capstone Project, Data Incubator Winter 2016</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <style>
    p { padding-left: 2% }
    h3 { padding-left: 1% }
    h4 { padding-left: 1% }
    form {padding-left: 2% }
  </style>   
</head>
<img src="/static/bikes.jpg" alt="Bikes" style="width:400px;height200px">
<div class=page>
  <h3>NY bike share query:</h3>
  <h4>Enter a date in the dataset to check model performance:</h4>  <p>
    <form method="post" action="/model-test"> 
    <div>{{ form.test_date.label }}: {{ form.test_date() }}
      {% for error in form.test_date.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </div>
    </form>
    </p>
    <p>
    <a href="{{ url_for('index') }}">Back to home</a>
    </p> 
</div>