
<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Albert Hamood, Capstone Project, Data Incubator Winter 2016</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <style>
    p { padding-left: 2% }
    h3 { padding-left: 1% }
    h4 { padding-left: 1% }
  </style>
</head>
<body>
<div class=page>
  <h3>Predictions are powered by a cross-validated extra random forest model, which predicts ride starts and ends per hour.</h3>
  <p>
I tested many forms of models for their ability to predict bike-sharing user behavior. These models 
were evaluated by three-fold cross-validation. Here are the error scores for several tested models. 
The mean model predicts the mean each hour, offered as a baseline. Decision-tree based models 
perform better than a simple linear model:</p>

 <img src="/static/Models_Compared.png" alt="Bikes" style="width:800px;height600px">


<p>Following the selection of an extra-random forest model, its parameters were optimized by 
a grid-search of parameter space. The following plot shows the sorted feature importances of the
final model:</p>

 <img src="/static/Model_Features.png" alt="Bikes" style="width:800px;height600px">
 
<p> It's important not to over-interpret these results. For example, snowfall shows up as relatively
unimportant, because it rarely factors in decisions made by the model. But this may be because 
snowfall is comparatively rare. To properly assess the importance of snowfall, further analyses are
needed. (We could for example ask how important total snowfall is, considering only days 
with at least some snow)</p>

<h4> Next, the system-wide hourly predictions are turned into station-by-station predictions.</h4>
<p>
 To accomplish this, I computed the average portion of hourly ride starts and ends for each 
 station in the system, conditioned on hour of day, separately for weekdays and weekends 
 (an interesting problem, as the system has many recently-opened stations). By iterating 
 through each predicted hour, I can then obtain a predicted change in bikes for each station, 
 for an arbitrary length of time. A detailed and mapped view of average station behavior is 
 available on the analysis page of this website. </p>
 
 <h4> Finally, a recommended redistribution of bikes is produced.</h4>
 <p>
 The first step is to determine the predicted number of bikes at each station following 
 the time period of interest. Stations are then split into two groups, based on whether they 
 gain or lose bikes on average. 
</p>
<p>
 Stations that typically lose bikes are used as a destination for bikes,
 if they are predicted to run out of bikes in the time-frame examined (this threshold can 
 be adjusted). In this case, the system recommends filling them with (up to) enough bikes to last an average month,
 leaving at least three open slots for bike deposits. But they can also be used as a source of bikes
 if they are predicted to exceed capacity; these stations are only brought down to 90% capacity.
</p>
<p>
 For stations that typically gain bikes, they are used as a source of bikes if they are predicted 
 to be above 80% capacity. In this case they are brought down to just a few bikes. They are only used as 
 a place to deposit bikes if they are predicted to be empty, in which case they are brought to 10% capacity.
</p>
<p>
 All of these choices can be (must be!) modified based on the performance of this system in the wild,
 which should be tracked in practice. These choices reduce the overall movement of bikes while 
 still providing each station with enough bikes to accomodate predicted needs.
</p>
<p>
 Finally, the number of bikes withdrawn and deposited is approximately balanced. If there is an 
 excess of available bikes after filling all determined needs, donor stations are chosen
 in order of the number of bikes available to donate, until all needs are met.
</p>
<p>
<a href="{{ url_for('index') }}">Back to home</a>
</p>
</div>
</body>